
@import url('https://fonts.googleapis.com/css2?family=VT323&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=VT323&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=VT323&family=Yellowtail&display=swap');


body{


 background-color:#202020;
 
 overflow: hidden;




}





*{


    margin: 0;





}







.head{
  
 height: 60px;
 

background:#ffee32;
position:relative;
top:0px;
opacity: 95%;


}


.webName{
    font-size: 40px;
   /* background:gray; */
   display:inline-block;
   position:absolute;
  top:5px;
   left:30px;
   color:#333533;
   font-family:'Bebas Neue', cursive;
   text-shadow: 0px 0px 1.5px;


}


.webMenue{
  
    width: 300px;
     /* background:rgb(0, 218, 98);  */
    display:inline-block;
    position:relative;
    left:970px;
    top:16px;
    padding : 0px;
   
    

}


ul{padding:0;}

.li{


 text-decoration: none;
 color:#333533;


    
}

li{
   

 /* background-color: rgb(0, 217, 255); */
 display:inline;
 font-size:25px;
 margin: 0px 24px 0px 0px ;
   
 font-family: 'Bebas Neue', cursive;

 cursor: pointer;

 transition: 0.5s;
 

}



li:hover{




 text-shadow: 2px 2px 4px;
 



}



.contant{

 /* background:yellow; */
 width:600px;
 height:300px;
 position:relative;
 top:276.5px;
left:340px;





}




p{

/* background:red; */
font-size: 40px;
text-align:center;

 color:#d6d6d6;
 font-family:  'Bebas Neue', cursive;
 text-transform: capitalize;
}




button{

 height:50px;
 width:250px;
 position:relative;
 top:10px;
 left:175px;
 font-size: 35px;
 font-family: 'Bebas Neue', cursive;;
 background-color: #ffee32;
 outline: none;
 border: none;
color: #202020;


}



button:hover{




    box-shadow: 0px 2px 20px -10px #ffee32;




}


.guest{


position:relative;
top:55px;
left:-10px;

text-align: center;
color:#ffee32;


}


.loading{

background-color: #202020;
position: absolute;
height: 100%;
width: 100%;
top: 0;


}
 

.loader {
    border: 16px solid #ffee32; 
    border-top: 16px double #ffee32; 
    border-bottom: 16px double #ffee32; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: relative;
    top: 50%;
    left: 550px;
    top: 400px;
    
    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  


